<div class="container">
    <div class="row">
    	<h1>Welcome</h1>
    </div>
    <div class="row">
    	<div class="col-sm-4">
    		<img src="img/ph1.jpg" class="img-responsive" alt="Pharmacy">
    		<img src="img/ph2.jpg" class="img-responsive" alt="Pharmacy">
    	</div>
    	<div class="col-sm-4">
    		<div style="text-align:center"><p><h2>SRePS</h2></p>
		      <p><h3>Sales Reporting and Prediction System</h3></p>
          <p><h5>Version: 1.1</h5</p>
          <p>---------------------------------------------------------------------</p></div><br>
          <p><h4>Licensed to: People Health Pharmacy</h4></p>
          <p><h4>&#169; Copyright 2016: People Health Pharmacy</h4></p>
     </div>
    	<div class="col-sm-4">
    		<p></p>
    	</div>
    </div>
</div>
