<div class="container">
    <div class="row">
    	<h1>Welcome</h1>
    </div>
    <div class="row">
    	<div class="col-sm-4">
    		<img src="img/ph1.jpg" class="img-responsive" alt="Pharmacy">
    		<img src="img/ph2.jpg" class="img-responsive" alt="Pharmacy">
    	</div>
    	<div class="col-sm-4">
    		<p><h2><center>SRePS</center></h2></p>
		        <p><h4><center>Sales Reporting and Prediction System</center></h4></p>
            <p><h5><center>Version: 2.1</center></h5</p>
            <p><center>---------------------------------------------------------------------</center></p><br>
            <p><h5>Licensed to: People Health Pharmacy</h5></p>
            <p><h5>&#169; Copyright 2016: People Health Pharmacy</h5></p>
            <!-- Need to remove the Center tags which aren't supported in HTML5 -->
      </div>
    	<div class="col-sm-4">
    		<p></p>
    	</div>
    </div>
</div>
