<div class="container">
    <div class="row">
        <h1>Products</h1>
    </div>
    <div class="row">
    	<div class="col-sm-12 reportBox">
			<!--PRODUCT GRID-->
			<div class="scrollable" ng-show="showAllProducts">
				<button type="button" class="btn btn-default btn-lg tabButton" ng-click="addButton()">Add Product</button>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Product Group</th>
							<th>Product</th>
							<th>Price</th>
							<th>Quantity on hand</th>
							<th>Quantity sold</th>
							<th>Quantity to order</th>
							<th>Quantity requested</th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="product in products">
							<td>{{product.productGroupName}}</td>
							<td>{{product.name}}</td>
							<td>{{product.price}}</td>
							<td>{{product.quantityOnHand}}</td>
							<td>{{product.quantitySold}}</td>
							<td>{{product.quantityToOrder}}</td>
							<td>{{product.quantityRequested}}</td>
							<td><a ng-click="editProduct(product)">Edit</a></td>
							<td class="btn" ng-click="deleteProduct(product.id)">X</td>
						</tr>
					</tbody>
				</table>
			</div>

			<!-- ADD/EDIT TAB -->
			<div class="container productTab" ng-show="addEditTab">
				<form class="form-group" name="productForm">
			   		<label for="pName">Product Name:</label><br>
			   		<input type="text" name="productName" class="form-control" id="pName" ng-model="product.name" required>
			   		<span ng-show="productForm.productName.$touched && productForm.productName.$error.required">The name is required</span><br>

			   		<label for="pGroup">Product Group:</label><br>
			   		<select class="form-control" name="productGroup" id="pGroup" ng-model="productGroup" ng-options="group.Name for group in productGroups" required></select><br>

			   		<label for="pPrice">Product Price:</label><br>
			   		<input type="number" class="form-control" name="productPrice" id="pPrice" ng-model="product.price" required>
			   		<span ng-show="product.price < 0">The price cannot be less than 0</span>
			   		<span ng-show="product.price == 0">Are you sure you want to set the price to 0?</span><br>


			   		<label for="pQuantityOnHand">Quantity On Hand:</label><br>
			   		<input type="number" class="form-control"  id="pQuantityOnHand" ng-model="product.quantityOnHand" required>
			   		<span ng-show="product.quantityOnHand < 0">Quantity must be greater than 0</span><br>
			   		

				</form>

				<button type="button" class="btn btn-default btn-lg tabButton" ng-click="return()">Return</button>

				<!-- Triggers PHP to INSERT new product? -->
				<button type="button" class="btn btn-default btn-lg tabButton" ng-click="addEditProduct()">{{addEditLabel}}</button>
			</div>
    	</div>
    </div>
</div>
