<div class="container">
    <div class="row">
        <h1>Reports</h1>
    </div>
    <div class="row">
    	<div class="col-sm-12 reportBox">
    		<!-- REPORT SELECT -->
			<div class="row">
				<div class="col-sm-12 selectTab">
					<h2 class="tabTitle">Select report</h2>
					<button type="button" class="btn btn-default btn-lg tabButton" ng-click="">Weekly Sales</button><br>
					<button type="button" class="btn btn-default btn-lg tabButton" ng-click="">Monthly Sales</button><br>
					<button type="button" class="btn btn-default btn-lg tabButton" ng-click="">All Sales</button><br>
				</div>
			</div>
    		<!-- WEEKLY -->
    		<div class="row">
    			<div class="col-sm-12 reportTab">
					<h2 class="tabTitle">Weekly Sales</h2>
					<table class="table table-striped">
					    <thead>
					      <tr>
					        <th>Customer ID</th>
					        <th>Product</th>
					        <th>Cost</th>
					      </tr>
					    </thead>
					    <tbody>
					      <tr>
					        <td>AA010101</td>
					        <td>Panadol</td>
					        <td>$20</td>
					      </tr>
					      <tr>
					        <td>AA010101</td>
					        <td>Panadol</td>
					        <td>$20</td>
					      </tr><tr>
					        <td>AA010101</td>
					        <td>Panadol</td>
					        <td>$20</td>
					      </tr>
					    </tbody>
				  </table>
				  <button type="button" class="btn btn-default btn-lg tabButton" ng-click="">Return</button>
				</div>
    		</div>
    		<!-- MONTHLY -->
    		<div class="row">
    			<div class="col-sm-12 reportTab">
					<h2 class="tabTitle">Monthly Sales</h2>
					<table class="table table-striped">
					    <thead>
					      <tr>
					        <th>Customer ID</th>
					        <th>Product</th>
					        <th>Cost</th>
					      </tr>
					    </thead>
					    <tbody>
					      <tr>
					        <td>AA010101</td>
					        <td>Panadol</td>
					        <td>$20</td>
					      </tr><tr>
					        <td>AA010101</td>
					        <td>Panadol</td>
					        <td>$20</td>
					      </tr><tr>
					        <td>AA010101</td>
					        <td>Panadol</td>
					        <td>$20</td>
					      </tr>
					    </tbody>
				  </table>
				  <button type="button" class="btn btn-default btn-lg tabButton" ng-click="">Return</button>
				</div>
    		</div>
    		<!-- ALL SALES -->
    		<div class="row">
    			<div class="col-sm-12 reportTab">
					<h2 class="tabTitle">All Sales</h2>
					<table class="table table-striped">
					    <thead>
					      <tr>
					        <td>AA010101</td>
					        <td>Panadol</td>
					        <td>$20</td>
					      </tr><tr>
					        <td>AA010101</td>
					        <td>Panadol</td>
					        <td>$20</td>
					      </tr><tr>
					        <td>AA010101</td>
					        <td>Panadol</td>
					        <td>$20</td>
					      </tr>
					    </tbody>
				  </table>
				  <button type="button" class="btn btn-default btn-lg tabButton" ng-click="">Return</button>
				</div>
    		</div>
    	</div>
    </div>
</div>